@model IEnumerable<WebHocAnhVanNew.Models.KhoaHoc>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <link href="~/Content/CSS/Home.css" rel="stylesheet" />
</head>
<body>
    <div id="banner"><img src="https://ekidenglish.edu.vn/assets/images/home/banner2.png"></div>
    <div id="main">
        <div id="left">
            <ul>

                <li><img src="https://topicanative.edu.vn/wp-content/uploads/2019/12/12-thi-trong-tieng-anh.jpg"><a href=""><h1> Tổng hợp các loại thì trong tiếng anh</h1></a>   </li>
                <li><img src="https://topicanative.edu.vn/wp-content/uploads/2019/12/12-thi-trong-tieng-anh.jpg"><a href="file:///C:/Users/trilo/OneDrive/M%C3%A1y%20t%C3%ADnh/webcoban/12thicoban.html"><h1> Tổng hợp các loại thì trong tiếng anh</h1></a>  </li>
                <li><img src="https://topicanative.edu.vn/wp-content/uploads/2019/12/12-thi-trong-tieng-anh.jpg"><a href="file:///C:/Users/trilo/OneDrive/M%C3%A1y%20t%C3%ADnh/webcoban/12thicoban.html"><h1> Tổng hợp các loại thì trong tiếng anh</h1></a>  </li>
                <li><img src="https://topicanative.edu.vn/wp-content/uploads/2019/12/12-thi-trong-tieng-anh.jpg"><a href="file:///C:/Users/trilo/OneDrive/M%C3%A1y%20t%C3%ADnh/webcoban/12thicoban.html"><h1> Tổng hợp các loại thì trong tiếng anh</h1></a>  </li>
                <li><img src="https://topicanative.edu.vn/wp-content/uploads/2019/12/12-thi-trong-tieng-anh.jpg"><a href="file:///C:/Users/trilo/OneDrive/M%C3%A1y%20t%C3%ADnh/webcoban/12thicoban.html"><h1> Tổng hợp các loại thì trong tiếng anh</h1></a>  </li>
                <li><img src="https://topicanative.edu.vn/wp-content/uploads/2019/12/12-thi-trong-tieng-anh.jpg"><a href="file:///C:/Users/trilo/OneDrive/M%C3%A1y%20t%C3%ADnh/webcoban/12thicoban.html"><h1> Tổng hợp các loại thì trong tiếng anh</h1></a>  </li>
                <li><img src="https://topicanative.edu.vn/wp-content/uploads/2019/12/12-thi-trong-tieng-anh.jpg"><a href="file:///C:/Users/trilo/OneDrive/M%C3%A1y%20t%C3%ADnh/webcoban/12thicoban.html"><h1> Tổng hợp các loại thì trong tiếng anh</h1></a>  </li>
                <li><img src="https://topicanative.edu.vn/wp-content/uploads/2019/12/12-thi-trong-tieng-anh.jpg"><a href="file:///C:/Users/trilo/OneDrive/M%C3%A1y%20t%C3%ADnh/webcoban/12thicoban.html"><h1> Tổng hợp các loại thì trong tiếng anh</h1></a>  </li>
            </ul>
        </div>
        <div id="right">
            <div class="menu_right">

                <h3>
                    Danh Muc
                </h3>
                <ul>
                    <li>@Html.ActionLink("Dich Thuat", "Dich", "Home")</li>
                    <li>@Html.ActionLink("Trac Nghiem", "Tracnghiem")</li>
                    <li><a href="https://www.zapmeta.com.vn/ws?q=ban%20dat%20nen%20phu%20my&asid=zm_vn_gcx_04&mt=b&nw=g&de=c&ap=&ac=23608&cid=15573695670&aid=136763074528&locale=vi_VN&ch=896&gclid=CjwKCAiA6seQBhAfEiwAvPqu10XJlzQqdxBep0sUIymocgVj5GxojHvcaktUjNELntPs40GMjMCI5RoChOUQAvD_BwE">Video</a></li>
                    <li><a href="https://phelieuquanphat.com/?gclid=CjwKCAiA6seQBhAfEiwAvPqu1zrr4Vgbc9FO_Au_oEHBhZ2SooTwnEA1pCbmXapG-SYbtBfgy49ukBoCtKoQAvD_BwE">Tu Vung</a></li>
                    <li><a href="https://muaphelieu247.com/thu-mua-long-vit-gia-cao-o-dau-gia-thu-mua-long-vit-hom-nay">Lo trinh</a></li>
                    <li><a href="">Chua Co</a></li>
                </ul>
            </div>
            <img src="https://intphcm.com/data/upload/banner-quang-cao-vang.jpg">
            <img src="https://quangcaosieutoc.com/uploads/images/vi/news/300x600.gif">
        </div>
    </div>
    <div id="footer"><a href="https://www.facebook.com/vancongkhai18"><marquee direction="right"> lien he facebook de biet them thong tin</marquee></a></div>
</body>
</html>


